
</main> <!--/main-->

<article class="w3-main w3-container left-tab">

    <!-- ads between rows-->
    <aside class="w3-row">
      <div class="w3-twothird">        
        <div class="w3-center"><img src="/images/300x250.jpg" rel="nofollow"></div>
      </div>     
    </aside>

  <hr>
    <!-- statistics -->
    <aside class="w3-container w3-center">     
        <img src="/images/88x31.jpg">      
        <img src="/images/88x31.jpg">
    </aside>  
  <hr>

</article>
    
    	<!--footer-->
<footer class="w3-main w3-center w3-small w3-opacity left-tab">    	
    	<a href="http://www.w3schools.com/w3css/" target="_blank">стили (c)W3.CSS</a>
    	<br>
    	(c) webcode, since 2018
</footer> <!--/footer--> 


<script>
function openRightMenu() {
    document.getElementById("rightMenu").style.display = "block";
}
function closeRightMenu() {
    document.getElementById("rightMenu").style.display = "none";
}

function openLeftSidebar() {
  document.getElementById("mySidebar").style.display = "block";
}
function closeLeftSidebar() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>