<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Webcode - Школа веб-кода, перевод W3Schools</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Keywords" content="HTML,CSS,JavaScript,SQL,PHP,jQuery,Bootstrap,W3CSS,Веб разработка,учебники,программирование,обучение,уроки,рецепты кода,примеры кода,исходный код,цвета,демонстрации,советы. Перевод W3Schools.">
  <meta name="Description" content="Легкие учебники по веб-строительству с большим количеством примеров кода HTML, CSS, JavaScript, SQL, PHP. Перевод W3Schools.">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/w3.css">  
<style>
a:hover,a:active{color:green;/*#4CAF50*/}
.left-tab{margin-left:220px;}
</style>
</head>

<body>

  <!--navbar-->
  <!-- мозилла (в отличие от гуглхрома) добавляет к навбару 0.5px; добавление происходит на этапе вычисления высоты содержимого в строчках списка навбара - мозилла ставит 22.5px, гугл хром 22px (эти значения замечены во всех элементах .bar-item); т.к. верхний и нижний padding назначены в 8px, то у мозиллы получается 38.5px, у гуглхрома 38px; проблема временно решена "жертвой" гуглхрома на пол-пикселя (top-38.5px). -->
  <nav class="w3-bar w3-top w3-dark-gray" > 

  <!-- button open left sidebar-->
  <button class="w3-bar-item w3-button w3-light-gray  w3-hide-large" onclick="openLeftSidebar()">&#9776;</button>  

    <a href="#" class="w3-bar-item w3-button w3-light-green" 
    style="font-weight:bold;" >Webcode</a>    
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-blue-gray">HTML/CSS</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-disabled">JS/Jquery</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-disabled">W3.CSS/Bootstrap 4</a>     
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-disabled">PHP Proc/OOP</a> 
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-disabled">SQL</a> 
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-disabled">Как Сделать</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-disabled">Ещё</a>  

    <!-- button open right menu --> 
    <button class="w3-button w3-gray  w3-right  w3-hide-medium w3-hide-large" onclick="openRightMenu()">&#9776;</button>

  </nav>

  <!-- right menu -->

  <nav id="rightMenu" class="w3-sidebar w3-bar-block w3-card w3-dark-gray w3-animate-right" style="display:none; right:0;  top:38px; bottom:0px; height:auto;">
    <!-- button close right menu --> 
    <button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large w3-dark-gray">Close &times;</button>
    <a href="#" class="w3-bar-item w3-button w3-blue-gray">Link 1 one</a>
    <a href="#" class="w3-bar-item w3-button">Link 2 two</a>
    <a href="#" class="w3-bar-item w3-button">Link 3 three</a>
    <a href="#" class="w3-bar-item w3-button">Link 3 three</a>
    <a href="#" class="w3-bar-item w3-button">Link 3 three</a>
    <a href="#" class="w3-bar-item w3-button">Link 3 three</a>
    <a href="#" class="w3-bar-item w3-button">Link 3 three</a>
    <a href="#" class="w3-bar-item w3-button">Link 3 three</a>
    <a href="#" class="w3-bar-item w3-button">Link 3 three</a>
    <a href="#" class="w3-bar-item w3-button">Link 3 three</a>
    <a href="#" class="w3-bar-item w3-button">Link 3 three</a>
    <a href="#" class="w3-bar-item w3-button">W3.CSS/Bootstrap 4</a>
    <a href="#" class="w3-bar-item w3-button">W3.CSS/Bootstrap 4</a>
    <a href="#" class="w3-bar-item w3-button">W3.CSS/Bootstrap 4</a>
    <a href="#" class="w3-bar-item w3-button">W3.CSS/Bootstrap 4</a>
    <a href="#" class="w3-bar-item w3-button">W3.CSS/Bootstrap 4</a>
    <a href="#" class="w3-bar-item w3-button">W3.CSS/Bootstrap 4</a>
    <a href="#" class="w3-bar-item w3-button">W3.CSS/Bootstrap 4</a>
    <a href="#" class="w3-bar-item w3-button">Bootstrapium</a>
    <a href="#" class="w3-bar-item w3-button">Link</a>
	<p class="w3-bar-item"></p>
  </nav>

<!--left sidebar-->

<nav id="mySidebar" class="w3-sidebar w3-collapse w3-bar-block w3-card w3-light-gray w3-animate-left " style="width:220px; top:38.5px; bottom:0px; height:auto;">
  <!-- w3-sidebar и w3-collapse совместно работают на исчезновение сайдбара при менее 992px; однако w3-sidebar содержит height:100%, что смещает весь сайдбар вниз, когда будет объявлен top-38.5px (при top-0px или его отсутствии сайдбар всегда бы помещался в окне); решают проблему bottom:0px (что задаёт нижнюю границу и добавляет скроллинг) и height:auto, отменяющий правило height:100% (тот же эффект был бы, если просто отключить свойство height:100% в w3-sidebar); margin-bottom поднимет весь сайдбар от низа, padding-bottom:16px приподнимет нижнюю строчку сайдбара от низа, но только в гугле; аналогичный способ применён в right menu.  -->

  <!-- button close left sidebar--> 
  <button class="w3-bar-item w3-button w3-hide-large"
  onclick="closeLeftSidebar()">Close &times;</button> 
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button w3-blue-gray">W3.CSS Progress Bars</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
  <a href="#" class="w3-bar-item w3-button">Link </a>
  <a href="#" class="w3-bar-item w3-button">W3.CSS Link Progress</a>
  <a href="#" class="w3-bar-item w3-button">Link </a>
  <a href="#" class="w3-bar-item w3-button">Link </a>
  <a href="#" class="w3-bar-item w3-button">W3.CSS Link Progressive Bar</a>
  <a href="#" class="w3-bar-item w3-button">Link </a>
  <a href="#" class="w3-bar-item w3-button">Link </a>
  <a href="#" class="w3-bar-item w3-button">W3.CSS Link Progressive Bar</a>
  <a href="#" class="w3-bar-item w3-button">Link </a>
  <a href="#" class="w3-bar-item w3-button">Link </a>
  <a href="#" class="w3-bar-item w3-button">W3.CSS Link Progress</a>
  <a href="#" class="w3-bar-item w3-button">Link </a>
  <a href="#" class="w3-bar-item w3-button">Link </a>
  <a href="#" class="w3-bar-item w3-button">W3.CSS Link Progress</a>
  <a href="#" class="w3-bar-item w3-button">Link </a>
  <a href="#" class="w3-bar-item w3-button">Link </a>
  <a href="#" class="w3-bar-item w3-button">W3.CSS Link Progressive Bar</a>
  <a href="#" class="w3-bar-item w3-button">Link </a>
  <a href="#" class="w3-bar-item w3-button">Link </a>
  <a href="#" class="w3-bar-item w3-button">W3.CSS Link Progress</a>
  <a href="#" class="w3-bar-item w3-button">Link </a>
  <a href="#" class="w3-bar-item w3-button">Link </a>
  <a href="#" class="w3-bar-item w3-button">W3.CSS Link Progressum</a>
  <a href="#" class="w3-bar-item w3-button">Link </a>
  <p class="w3-bar-item"></p>
</nav>

<!-- main page -->
<main class="w3-main w3-container left-tab" style="margin-top:72px;">
        
    <section class="w3-row w3-padding-16">      
	  <div class="w3-twothird w3-padding">
	  
		  <!-- row 2 cards -->
		  <article class="w3-row">

		  <!-- card -->  
			<div class="w3-card w3-col m5 l5 w3-hover-shadow" style="margin: 14px;" >			
			  <header class="w3-container w3-light-gray">
				<h2>HTML</h2>
			  </header>			
			  <div class="w3-container">
			<a href="#">
				<p>HTML - гипертекстовый язык разметки.<p>
			</a>
			  </div>
			  <footer class="w3-container ">            
			  </footer>			
			</div>

			<!-- card -->
			<div class="w3-card w3-col m5 l5 w3-hover-shadow  " style="margin: 14px;" >
			  <header class="w3-container w3-light-gray">
				<h2>CSS</h2>
			  </header>
			  <div class="w3-container">
			  <a href="#">
				<p>CSS - каскадные таблицы стилей.</p>
			  </a>
			  </div>
			  <footer class="w3-container ">            
			  </footer>
			</div>
		  </article> <!-- /row 2 cards -->

		  <!-- row 2 cards -->
		  <article class="w3-row">

		  <!-- card -->  
			<div class="w3-card w3-col m5 l5 w3-hover-shadow" style="margin: 14px;" >
			  <header class="w3-container w3-light-gray">
				<h2>Javascript</h2>
			  </header>
			  <div class="w3-container">
			  <a href="#">
				<p>Javascript - скриптовый язык на стороне клиента.<p>
			  </a>
			  </div>
			  <footer class="w3-container ">            
			  </footer>
			</div>

			<!-- card -->
			<div class="w3-card w3-col m5 l5 w3-hover-shadow  " style="margin: 14px;" >
			  <header class="w3-container w3-light-gray">
				<h2>PHP</h2>
			  </header>
			  <div class="w3-container">
			  <a href="#">
				<p>PHP - серверный язык программирования, применяемый для веб-страниц.</p>
			  </a>
			  </div>
			  <footer class="w3-container ">            
			  </footer>
			</div>
		  </article> <!-- /row 2 cards-->
	  </div>

      <!-- ads -->
      <aside class="w3-third w3-border " >        
        <div class="w3-center"><img src="images/240x400.jpg" rel="nofollow"></div>
      </aside> 
    </section> <!-- /row -->

    <section class="w3-row w3-padding-16 ">
        <div class="w3-twothird w3-padding">

          <h1>Lorem Ipsum</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Писать по-русски. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Писать по-русски. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

      <!-- ads -->
      <aside class="w3-third">        
        <div class="w3-center"><img src="images/240x400.jpg" rel="nofollow"></div>
      </aside>      
    </section> <!-- /row -->

    <section class="w3-row w3-padding-16">
      <div class="w3-twothird w3-padding">
        <h1>Lorem Ipsum </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Писать по-русски. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      
      <div class="w3-card-2">
        <header class="w3-container w3-light-grey">
          <h3>My Example</h3>
        </header>
        <div class="w3-container ">
            <div class="w3-code w3-text-purple ">
          &lt;!DOCTYPE html&gt;<br>
          &lt;html&gt;<br>&lt;head&gt;<br>&lt;title&gt; 
          <span style="color:black">Титульный Заголовок </span>&lt;/title&gt;<br>
          &lt;/head&gt;<br>&lt;body&gt;<br><br>&lt;h1&gt; 
          <span style="color:black">Это Заголовок Страницы. </span> &lt;/h1&gt;<br>&lt;p&gt;
          <span style="color:black"> Это параграф. </span>&lt;/p&gt;<br><br>
          &lt;/body&gt;<br>&lt;/html&gt;
          </div>
        </div>
        <footer class="w3-container w3-light-grey">
		  <p>Попробовать в </p>
          <button class="w3-button w3-green">W3 Schools</button>
          <a class="w3-btn w3-green w3-margin" href="#" target="_blank">JS Bin &raquo;</a>
        </footer>
       </div> 

       </div>

      <!-- ads -->
      <div class="w3-third">        
        <div class="w3-center"><img src="images/240x400.jpg" rel="nofollow"></div>
      </div>
    </section> <!-- /row -->
      
    <section class="w3-row w3-padding-16">      
      <div class="w3-twothird w3-padding">
        <h1>Lorem Ipsum </h1>
        <article class="w3-panel w3-pale-green w3-leftbar">
          <p>With HTML you can create your own Website.</p>
          <p>This tutorial teaches you everything about HTML.</p>
          <p>HTML is easy to learn - You will enjoy it.</p>
        </article>

        <hr>
        <h2>Examples in Every Chapter</h2>
        <p>This HTML tutorial contains hundreds of HTML examples.</p>
        <p>With our online HTML editor, you can edit the HTML, and click on a button to 
        view the result.</p>

        <div class="w3-example">
        <h3>Example</h3>        
          <div class="w3-code w3-text-purple">
          &lt;!DOCTYPE html&gt;<br>
          &lt;html&gt;<br>&lt;head&gt;<br>&lt;title&gt; 
          <span style="color:black">Титульный Заголовок </span>&lt;/title&gt;<br>
          &lt;/head&gt;<br>&lt;body&gt;<br><br>&lt;h1&gt; 
          <span style="color:black">Это Заголовок Страницы. </span> &lt;/h1&gt;<br>&lt;p&gt;
          <span style="color:black"> Это параграф. </span>&lt;/p&gt;<br><br>
          &lt;/body&gt;<br>&lt;/html&gt;
          </div>
          <a class="w3-btn w3-green w3-margin-bottom" href="#" target="_blank">Try it Yourself &raquo;</a>
        </div>
        <p><strong>Click on the &quot;Try it Yourself&quot; button to see how it works.</strong></p>
        <a href="#"> Start learning HTML now! </a>
      </div>       
    </section> <!-- /row -->

    <!-- ads between rows-->
    <aside class="w3-row">
      <div class="w3-twothird w3-center" >        
        <div class=""><img src="images/450x75.jpg" rel="nofollow"></div>      
      </div>
    </aside>

    <section class="w3-row w3-padding-16">
      <div class="w3-twothird w3-padding">
        <h1>Lorem Ipsum </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Писать по-русски. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>   
    </section> <!-- /row -->

</main> <!--/main-->
    
<article class="w3-main w3-container left-tab">

    <!-- Pagination -->
    <nav class="w3-container w3-padding-16">
	<!-- сочетание w3-container и w3-padding-16 дают паддинг 16 по кругу. w3-container - 16 паддинг с боков. w3-padding-16 - 16 сверху снизу. просто w3-padding - 8 верх-низ, 16 лево-право.-->
      <div class="w3-bar">		
        <a href="#" class="w3-button">&laquo; Предыдущее</a>      
        <a href="#" class="w3-button">Следующее &raquo;</a>
      </div>
    </nav>

    <!-- ads between rows-->
    <aside class="w3-row">
      <div class="w3-twothird">        
        <div class="w3-center"><img src="images/300x250.jpg" rel="nofollow"></div>
      </div>     
    </aside>

  <hr>
    <!-- statistics -->
    <aside class="w3-container w3-center">     
        <img src="images/88x31.jpg">      
        <img src="images/88x31.jpg">
    </aside>  
  <hr>

</article>
    
    	<!--footer-->
<footer class="w3-main w3-center w3-small w3-opacity left-tab">    	
    	<a href="http://www.w3schools.com/w3css/" target="_blank">стили (c)W3.CSS</a>
    	<br>
    	(c) webcode, since 2018
</footer> <!--/footer--> 


<script>
function openRightMenu() {
    document.getElementById("rightMenu").style.display = "block";
}
function closeRightMenu() {
    document.getElementById("rightMenu").style.display = "none";
}

function openLeftSidebar() {
  document.getElementById("mySidebar").style.display = "block";
}
function closeLeftSidebar() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>